#qta {
    color: green;
    font-weight: bold;
}

#total {
    color: red;
    font-weight: bold;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 2rem;
}

td,
th {
    border: 1px solid black;
    padding: 3px 5px;
}

li.added {
    background-color: lightgreen;
}

#items {
    list-style: none;
    padding: 10px;
    border: 1px solid #ccc;
}

#items li {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: background 0.2s;
}

#items li+li {
    border-top: 1px solid #ccc;
}

#items li:hover {
    background-color: pink;
}

#items li:active {
    background-color: lightblue;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}